
p{
	font-size: 12px;
}

button{
	font-size: 13.5px;
}

body{
	background-color: #ECEEF1;
}

.header-container{
	display: flex;
	justify-content: flex-end;
}	

.left p{
	margin:0;
}

#signin{
	display: flex;
	align-items: center;
	background-color: #0077C5;
	border:none;
	border-radius: 4px;
	color: white;
	height: 34px;
	width: 90px;
	

}

.right{
	margin-left: 10px;
}



#account{
	font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #505050;
	padding-bottom: 5px;
}

.blue-text{
	font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #0077C5;	

}

#lock{
	font-size: 15px;
	padding: 0 5px;
}

#main-header{
	text-align: center;
}

#mentor{
	background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/mint-favicon-4accf8f4.svg) no-repeat;
}